.list {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    height: 80px;
    padding: 10px 20px;
    gap: 20px;
    justify-content: flex-start;

    img {
      width: 60px;
      height: 60px;
    }
  }

  > a,
  .list-item {
    display: flex;
    height: 24px;
    line-height: 24px;
    gap: 3px;
    padding: 0 6px;
    background-color: transparent;
    transition: background-color 200ms linear;

    &:hover {
      background-color: rgba(#fff, 0.05);
    }
  }

  a[href='#'] {
    opacity: 0.6;
    align-items: center;

    &:after {
      content: 'Coming Soon!';
      font-size: 10px;
      flex: 1 0;
      text-align: right;
    }
  }
}
