<aside class="list">
  <header>
    <img src="/assets/angular-white.svg" alt="" />
  </header>

  <a href="/">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Hello
  </a>

  <a href="/getting-started-with-angular-beginners-guide">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Getting started
  </a>

  <a href="/getting-started-with-angular-components">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Components
  </a>

  <a href="/angular-router-101-a-beginners-guide">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Routing
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Modules
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Directives
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Serivces
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Templates
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Forms
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Dependency Injection
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Pipes
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Change detection
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Observables
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Server-side Rendering
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Lazy loading
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Internationalization
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Accessibility
  </a>

  <a href="#">
    <mat-icon svgIcon="chevron-right"></mat-icon>
    Accessibility
  </a>
</aside>

<main>
  <router-outlet></router-outlet>
</main>
