<h1>
  Welcome to the guide and<br />
  directory of Angular
</h1>

<p>
  This guide is a directory of information about Angular. It covers simple topics and
  advanced features to help you improve your skills. The information is based on over a
  decade of experience using Angular and is designed to help newcomers get started quickly
  and be as excited about Angular as I am.
</p>

<h2>Why is this nessesary:</h2>

<ol>
  <li>People say its hard to learn and has a to steep learning curve</li>
  <li>Documentation is overly complex and technical for new commers</li>
  <li>
    Angular is an amazing tool and i think the more we can get over the "hump" of getting
    started the more will love it
  </li>
</ol>

<p>
  I have talked to tons of people who tried out angular, think many things was cool about
  it but didnt stick around to become familar with it enough to become angular natives
</p>
